# Ignore everything
*

# But not these files/folders
!.gitignore
!src/
!src/**
!database_final.sql
!mo_ta.txt

# Still ignore compiled files in src
*.class
src/**/*.class

# Ignore NetBeans files
nbproject/
build/
dist/
nbbuild/
build.xml
manifest.mf

